@media screen and (max-width: 480px) {
  .header {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 10px;
  }

  .logo-container {
    padding: 10px 0;
  }

  .logo-container .nav-open {
    display: block;
  }

  .header-contacts {
    justify-content: space-between;
  }

  .header-contacts .address,
  .header-contacts .social-link,
  .address::after,
  .phone-number::after,
  .social-link::after {
    display: none;
  }

  

  .header-nav {
    display: flex;
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;
    align-items: stretch;
    gap: 11px;
    margin-top: 0;
    padding: 64px 20px 20px;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
    transition: transform 0.3s ease-out;
  }


  #nav-trigger:checked ~ .header-nav {
    transform: translateY(-100%);
    z-index: 15;
  }

  .header-nav .nav-close {
    display: block;
  }

  .header-nav .nav-link {
    padding: 8px;
    background: #f5f5fa;
    border-radius: 12px;
    color: #24a3ff;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }

  .blackout {
    display: none;
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(50, 50, 100);
    
    }

  #nav-trigger:checked ~ .blackout {
    display: block;
    opacity: 0.7;
   }

  .phone-number {
    color: #fff;
  }

  /* services */

  .services-card .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* cases */

  .cases-list {
    display: block;
    flex-basis: 100%;
  }

  /* Clients */
  .clients-item {
    flex-basis: 50%;
  }

  .clients-item--hillel{
    order: 1;
  }

  .clients-item--wannabiz {
    order: 2;
  }

  .clients-item--tapgerine {
    order: 3;
  }

  .clients-item--3dlook {
    order: 4;
  }

  .clients-item--orangear {
    order: 7;
  }

  .clients-item--adtelligent {
    order: 12;  
  }

  .clients-item--clickky {
    order: 6;
  }

  .clients-item--ecoleasing {
    order: 5;
  }

  .clients-item--ingratek {
    order: 8;
  }

  .clients-item--citypark {
    order: 11;
  }

  .clients-item--artprint {
    order: 10;
  }

  .clients-item--ultimatecard {
    order: 9;
  }


  /* footer */

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-adr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer-more-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer-address::after,
.footer-phone-number::after,
.footer-phone-number::before {
  display: none;
}

  .footer-contacts {
}
